# Python
__pycache__/
*.pyc

# Mac garbage
.DS_Store

#local config file
logfiles/
data.json
light.json
temp.json

#Test files
test.py

#Environement
env/
venv/
virtu/
.env
.venv
.virtu
env.bak/
venv.bak/
virtu.bak/
