# Python
__pycache__/
*.pyc

# Mac garbage
.DS_Store

#local config file
logfiles/
data.json
config.py

#Test files
light.json
test.py
static/
templates/

#Environement
env/
venv/
virtu/
.env
.venv
.virtu
env.bak/
venv.bak/
virtu.bak/
